.tab-bar {
    border-top: 0 solid #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.tab-bar ion-tab-button {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px 0px !important;
}

.tab-bar ion-label {
  font-size: 10px;
  position: relative;
}
.button-case {
  --color-focused: var(--ion-color-button-case) !important;
  --color-selected: var(--ion-color-button-case) !important;
  
}

.button-agents {
  --color-focused: var(--ion-color-button-agents) !important;
  --color-selected: var(--ion-color-button-agents) !important;
  
}

.button-tickets {
  --color-focused: var(--ion-color-button-tickets) !important;
  --color-selected: var(--ion-color-button-tickets) !important;
  
}

.button-settings {
  --color-focused: var(--ion-color-button-settings) !important;
  --color-selected: var(--ion-color-button-settings) !important;
  
}



