
.privacity-content{
  --background: var(--ion-content) !important;
}


.privacity-item{
    margin: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 15px;
}

.privacity-label p{    
    font-size: 16px;
    text-align: center;
    color: #000000;
    font-weight: 500;
}

.privacity-list{
    border-radius: 15px;
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
}

.privacity-list p{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}

