
  .ion-modal {
    --height: 25%;
  }

 
  .ion-text-center {
    text-align: center;
    color: #000;
  }

  .ticket-list  ion-item {
      text-align: center;

  }


.filter-option {
  justify-content: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  display: flex;
  position: relative;
}

.action-sheet-button span {
  color: #000;
}
