.filter-button {

  --background: var(--ion-button-tickets) !important;
  --background-activated: var(--ion-button-tickets) !important;
  --background-focused: var(--ion-button-tickets) !important;
}


.action-sheet-button span {
  color: #000;
}

.icon-button {
  color: #000;
}