
  .ion-modal {
    --height: 25%;
  }

 
  .ion-text-center {
    text-align: center;
    color: #000;
  }

  .ticket-list  ion-item {
      text-align: center;

  }

 .filter-option {
  margin-left: 17%;
 }

.filter-menu {
  margin-left: 17%;
}