


.content-settings{
  --background: var(--ion-content) !important;
}

.content-settings ion-icon{
    color: #414040;
    font-size: 16px;

}


.content-settings h2{
  font-size: 12px;
  color: #414040;
}

.list-settings{
  border-radius: 10px;
  margin:50px 10px 0px;
}



.about-us-item{
  margin-top: 10px;
  border-radius: 10px;
  margin: 10px;
}

.item-login{
  border-radius: 10px;
  margin: 10px;
  border:none;
}



.item-notificaciones ion-icon{
  color: var(--ion-color-notification) !important;
}

.item-feedback ion-icon{
  color: var(--ion-color-feedback) !important;
}

.item-privacidad ion-icon{
  color: var(--ion-color-privacy) !important;
}

.item-idioma ion-icon{
  color: var(--ion-color-language) !important;
}

.item-acerca-de ion-icon{
  color: var(--ion-color-about) !important;
}

.item-cerrar-sesion ion-icon{
  color: var(--ion-color-logout) !important;
}

.item-login ion-icon{
  color: var(--ion-color-login) !important;
}