.toolbar-settings {
  --background: rgb(255, 255, 255);
  height: 105px;
  justify-content: flex-start !important; /* Alinea el contenido al inicio */
  padding-left: 0 !important; /* Elimina el padding izquierdo del toolbar */
}

.header-settings {
  --background: rgb(255, 255, 255);
}



.content-settings ion-icon{
    color: #414040;
    font-size: 16px;
}

.content-settings ion-label{
  padding-bottom: 10px;
}

.content-settings h2{
  font-size: 12px;
  color: #414040;
}