.content-submit{
  --background: var(--ion-content) !important;
}

.label-file {
  font-size: 40px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.badge-file {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #80a6ff;
  z-index: 10;
}

.button-submit{
  border-radius: 20px;
  width: 95%;
  margin-right: 10px;
  margin-left: 10px;
}

.list-container{
  margin: 10px;
  border-radius: 15px;
}

.button-submit{
  --background: var(--ion-color-boton-send-case) !important;
  --background-activated: var(--ion-color-boton-send-case-active) !important;

}


.button-file{
  --background: var(--ion-color-boton-file) !important;
  --background-activated: var(--ion-color-boton-file-active) !important;
}

.toast-submit{
  --background: var(--ion-color-toast) !important;
  --background-activated: var(--ion-color-toast) !important;
}

ion-toast.toast-submit::part(message){
  color: #000;
  font-size: 13px;
  font-weight: bold;
}
