.content-tickets  {
    --background: var(--ion-content) !important;
  }
  
  .tickets-page  ion-page{
    --background: var(--ion-content) !important;
  }
 
  .archive-label {
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
   
  }

  .archived-tickets {
    --background: var(--ion-header) !important;
    display: block;

  }

  .archived-tickets p {
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
    color: #ff7474;
  }


  .tickets-list {
    list-style: none;
    padding: 0;
    margin: 0;

  }

  .archived-badge {
    background-color: #ff7474;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 10px;
  }

.footer-tickets ion-toolbar {
  --background: #ffffff !important;
  height: 84px !important;
}


.footer-tickets ion-button {
  padding: 0px 0 0 0 !important;
}

.footer-tickets-container {
  display: flex;
  justify-content: space-around;
}



.button-case-ticket {
  
  --color: var(--ion-button-footer-tickets) !important;


}

.button-contact-ticket {
  --color: var(--ion-button-footer-tickets) !important;
  
}




.button-settings-ticket {
  --color: var(--ion-button-footer-tickets) !important;
  
}


