.virtuoso-messages {
    width: 100%;
    background: url('../../../../assets/chats/chats-background.png');
    overflow: hidden;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.chat-letter {    
    background-color: #f5e3a6; /* Color de fondo suave */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    font-family: Arial, sans-serif; /* Fuente legible */
    font-size: 14px; /* Tamaño de fuente */
    color: #000000; /* Color de texto oscuro */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.158); /* Sombra sutil */
    margin-top: 5px;
    position: relative;
    width: 70%;
    height: 70px;
    word-wrap: break-word;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.message-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    overflow: auto;
    margin: 0px;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.scroll-to-bottom-btn {
    --border-radius: 20px 0px 0px 20px;
    width: 70px;
    position: absolute;
    display: block;
    right: 0;
    top: 10em;
    transition: background 0.2s;
}

.scroll-to-bottom-btn  {
    --background: var(--ion-color-scroll-to-bottom-btn);
    --background-activated: var(--ion-color-scroll-to-bottom-btn-active);
}

.scroll-to-bottom-btn ion-icon {
    color: #000000;
}