.chat-button-send {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    right:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    --color: #000;
    bottom: 25px;
 


}

.chat-button-send.visible {
    opacity: 1;
    bottom: 25px;
    position: absolute;
    display: flex;
    margin: 0;
    --color: #000;


}


.chat-button-send ion-icon {
    position: absolute;
    font-size: 30px;
}