.chat-button-send {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    right:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    bottom: 27px;
 
    --background: #000;
    --background-activated: #3d3d3d;


}

.chat-button-send.visible {
    opacity: 1;
    bottom: 27px;
    position: absolute;
    display: flex;
    margin: 0;

}


.chat-button-send ion-icon {
    position: absolute;
}