.messages-list {
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background:  url('src/Assets/Chats/ChatsBackground.png');
    display: flex; /* Usar flexbox para organizar las burbujas */
    flex-direction: column; /* Alinear las burbujas en columna */
    align-items: flex-start; /* Alinear a la izquierda por defecto */

}

.chat-letter {    
    background-color: #f0f0f0; /* Color de fondo suave */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    font-family: Arial, sans-serif; /* Fuente legible */
    font-size: 14px; /* Tamaño de fuente */
    color: #000000; /* Color de texto oscuro */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.158); /* Sombra sutil */
    margin-top: 60px;
    position: relative;
    width: 70%;
    height: 100px;
    word-wrap: break-word;
    text-align: center;
    align-self: center;
    margin-bottom: 80px;
}

.message-container {
    display: flex; /* Permite que el contenedor se ajuste a la altura disponible */
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    height: 100%; /* Ocupa el 100% de la altura del contenedor padre */
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

