.toolbar-search {
  --background: rgb(255, 255, 255);
  height: 200px;
  justify-content: flex-start !important; /* Alinea el contenido al inicio */
  padding-left: 0 !important; /* Elimina el padding izquierdo del toolbar */
}

.header-search {
  --background: rgb(255, 255, 255);

}

.searchbar {
  margin-top: 95px;
}


.title-search {
    margin: 5px !important; /* Elimina todos los márgenes */
    padding: 10px !important; /* Elimina todos los paddings */
    text-align: left !important; /* Alinea el texto a la izquierda */
    font-size: 30px;
    color: #414040;
}

