/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  /* Colores de botones */
  --ion-color-boton-send-case: #9ddba0 !important; /* Color principal */
  --ion-color-boton-send-case-active: #86b888 !important; /* Color secundario */
  --ion-color-boton-file: #80a6ff !important; /* Color principal */
  --ion-color-boton-file-active: #6688c4 !important; /* Color secundario */
  --ion-color-boton-back: #000000 !important;

  /* Colores iconos de agent history */
  --ion-color-icon-history: #328fec !important; /* Color principal */
/* iconos de tabbar */
  --ion-color-button-case: #68b2fc !important; /* Color principal */
  --ion-color-button-contact: #68b2fc !important; /* Color principal */
  --ion-color-button-tickets: #68b2fc !important; /* Color principal */
  --ion-color-button-settings: #68b2fc !important; /* Color principal */

    
  /* colores de interfaz */
  --ion-content: #f2f2f7 !important;
  --ion-header: #f2f2f7 !important;
  --ion-toolbar: #f2f2f7 !important;
  --ion-button-tickets: #e3e3e395 !important;
  --ion-button-tickets-active: #cdcbcb !important;
  --ion-chat-bubble-sent: #cbffa3 !important;
  --ion-chat-bubble-received: #a0e2ff !important;
  --ion-color-toast: #abeaff !important;
  --ion-color-block: #f96e6e !important;
  --ion-color-prefer: #9ddba0 !important;
  --ion-color-block-active: #e65b5b !important;
  --ion-color-prefer-active: #86b888 !important;
  /* colores de los botones de settings */
  --ion-color-notification: #9ddba0;
  --ion-color-privacy: #ffd700;
  --ion-color-language: #68b2fc;
  --ion-color-about: #000000;
  --ion-color-logout: #ff7575;
  --ion-color-feedback: #967139;
  --ion-color-login: #65b5ff;
  /* Colores de las apps */
  --app-item-linkedin: #0077B5;
  --app-item-facebook: #1877F2;
  --app-item-twitter: #1DA1F2;
  --app-item-instagram: #E4405F;
  --app-item-pinterest: #E60023;
  --app-item-snapchat: #FFFC00;
  --app-item-tiktok: #69C9D0;
  --app-item-youtube: #FF0000;
  --app-item-reddit: #FF4500;
  --app-item-whatsapp: #25D366;
  --app-item-paypal: #00457C;
  --app-item-amazon: #FF9900;
  --app-item-apple: #A2AAAD;
  --app-item-google: #4285F4;
  --app-item-microsoft: #F25022; /* Puedes añadir más colores si es necesario */
  --app-item-github: #181717;
  --app-item-gitlab: #FC6D26;
  --app-item-bitbucket: #0052CC;
  --app-item-docker: #2496ED;
  --app-item-appstore: #0D96F6;

/* variables de log in */

--register-color-background: #9ddba0;


/* variables de sign in */

--background-color-input: #d8d8d8;
}




/* variables para el teclado y estilos */

:root {
	--keyboard-animation: 0.4s cubic-bezier(0.1,0.7,0.2,1);
}

ion-app {
	height: 100%;
	transition: height var(--keyboard-animation);
	will-change: height;
}

   ion-footer ion-toolbar:last-of-type {
    transition: padding var(--keyboard-animation);
    will-change: padding;
  }

  /* colores de la interfaz */

  ion-header{
    --background: var(--ion-header) !important;
  }
  
  ion-toolbar{
    --background: var(--ion-toolbar) !important;
  }
  
  