/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  /* Colores primarios */
  --ion-color-primary: #3880ff; /* Color principal */
  --ion-color-primary-rgb: 56, 128, 255; /* Color principal en formato RGB */
  --ion-color-primary-contrast: #ffffff; /* Color de contraste para el color principal */
  --ion-color-primary-contrast-rgb: 255, 255, 255; /* Contraste en formato RGB */
  --ion-color-primary-shade: #3171e0; /* Sombra del color principal */
  --ion-color-primary-tint: #4c8dff; /* Tinte del color principal */

  /* Colores secundarios */
  --ion-color-secondary: #3dc2ff; /* Color secundario */
  --ion-color-secondary-rgb: 61, 194, 255; /* Color secundario en formato RGB */
  --ion-color-secondary-contrast: #ffffff; /* Color de contraste para el color secundario */
  --ion-color-secondary-contrast-rgb: 255, 255, 255; /* Contraste en formato RGB */
  --ion-color-secondary-shade: #36abe0; /* Sombra del color secundario */
  --ion-color-secondary-tint: #50c8ff; /* Tinte del color secundario */

  /* Añade más variables de tema aquí */
}






