.ticket-card {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.ticket-card:active {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.ticket-card-label h1 {
  color: #000000;
  font-size: 14px;
  margin-left: 5px;
}

.ticket-card-label h2 {
  color: #000000;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

.ticket-card-label h3 {
  color: #454545;
  font-size: 14px;
}

.ticket-card-label h4 {
  color: #868686;
  position: relative;
  top: 0px;
  right: 0px;
  font-size: 12px;
}

.time-stamp {
  color: #868686;
  font-size: 12px;
}


.ticket-card-label h4 ion-icon {
  font-size: 7px;
  margin: 0px 5px 0px 5px;
  color: #868686;
}



.ticket-card-status {
  display: flex;
  justify-content: flex-start;
}

.status-agent {
  display: flex;
  align-items: center;
}


.avatar {
  margin-right: 10px;
  position: relative;
  height: 30px;
  width: 30px;
}

.avatar-agent {
  position: relative;
}




ion-item-options.option-start {
  background: #6eb6f9;
}

.option-start ion-item-option:active {
  background-color: #5b9dda;
}

.option-start ion-item-option {
  background-color: #6eb6f9 ; 
}

ion-item-options.option-end {
  background-color: #f96e6e !important; 
}

.option-end ion-item-option {
  background-color: #f96e6e ; 
}

.option-end ion-item-option:active {
  background-color: #e65b5b;
}

.status-text {
  display: flex !important;
  align-items: baseline !important;
  flex-direction: row !important;
  margin-top: -5px;
}

.status-text h3 ion-icon {
  font-size: 6px;
  margin: 0px 5px 0px 5px;
  color: #868686;

}

.status-text h3 ion-icon:last-child {
  font-size: 14px;
}

.status-text h2  {
  margin-left: 5px;
}

.ticket-status h3 ion-icon:first-child {
  font-size: 7px;
}

.ticket-card-label h3:last-child {
  color: #868686;
  font-size: 11px;
}


.app-select-card {
  position: relative;
  right: 0px;
  bottom: 12px;
  height: 30px;
  width: 20px;


}

.badge-ticket {
  border-radius: 50%;
  background-color: #ff7474;
  color: #ffffff;
  font-size: 12px;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  display: flex;
  right: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
  animation: appear 0.3s forwards, disappear 0.3s forwards;
  opacity: 0;
}


