/* Animaciones de teclado */
:root {
	--keyboard-animation: 0.4s cubic-bezier(0.1,0.7,0.2,1);
}

ion-app {
	height: 100%;
	transition: height var(--keyboard-animation);
	will-change: height;
}

ion-footer ion-toolbar:last-of-type {
	transition: padding var(--keyboard-animation);
	will-change: padding;
}