.chat-button-microphone {
    position: absolute;
    margin-left: 10px;
    right: 50px;
    bottom: 8px;
    opacity: 1;
    transition: opacity 0.6s ease;
}

.chat-button-microphone.oculto {
    opacity: 0;
    transition: opacity 0.6s ease;
    position: absolute;
    display: flex;
    margin: 0;
}
