.chat-input-message {
    font-size: 14px;
    outline: none;
    background-color: #ffffff;
    width: 70%;
    min-height: 30px;
    max-height: 120px;
    border: none;
    border-radius: 20px;
    margin-top: 2px;
    padding: 6px;
    margin-bottom: 25px;
    overflow-y: scroll;
    transition: width 0.3s ease;
  
}



.chat-input-message.typing {
    width: 90%;
}

.chat-input-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}


