
.agent-info {
    display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea verticalmente los elementos al centro */

}

.chat-avatar {
    margin-left: 50px; /* Elimina el margen derecho del avatar */
    padding: 8px;
}

.agent-title {
    font-weight: bold;
    margin-left: 0; /* Elimina el margen izquierdo del párrafo */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-size: 14px;
}

.chat-footer {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

}

.toolbar-footer {
    height: auto;
    position: absolute;
    display: flex;
    padding: 0px;
    bottom: 0px;
    width: 100%;
    border-left: 5px solid #333333; /* border */
    border-top-left-radius: 5px;
    align-items: center;
    --padding-top: 0px !important;
    --padding-start: 0px !important;
    --padding-right: 0px !important;
    --padding-end: 0px !important;

}



.chat-input-container {
    
    position: static;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px ;
    justify-content: center;
    align-items: center;
}

.chat-button-send {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    right:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    bottom: 27px;
 
    --background: #000;
    --background-activated: #3d3d3d;


}

.chat-button-send.visible {
    opacity: 1;
    bottom: 27px;
    position: absolute;
    display: flex;
    margin: 0;

}


.chat-button-send ion-icon {
    position: absolute;
}

.back-button {
    --color: #000;
}

.reply-message {
    border-top-left-radius: 20px;
    font-size: 14px;
    color: #333; /* Dark text color */
    max-width: 100%;
    overflow: hidden;
    display: flex;
}


.reply-message p {
    text-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    width: 70%;
 
}

.close-reply {
    position: absolute;
    right: 0;
    --color: #000;
}