.chat-avatar {
    background-color: #e0dede;
    position: relative;
    margin-bottom: 5px;
}

.agent-title {
    font-size: 16px;
    font-weight: bold;
    left: 1%;
    top: 60%;
    padding: 10px;
}

.agent-info {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-left: -15%;
    max-width: 90%;
    margin-bottom: 15px;
}

.header-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.chat-footer {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e0e0e0;
    padding: 0px 0px 0px 0px;
    background-color: #ffffff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.toolbar-footer {
    height: auto;
    position: absolute;
    display: flex;
    bottom: 0px;
    width: 100%;
    align-items: center;
}



.chat-input-container {
    
    position: static;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}

.chat-button-send {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    right:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    bottom: 22px;
    padding: 5px;
    --border-radius: 90%;
    height: 40px;
    width: 40px;


}

.chat-button-send.visible {
    opacity: 1;
    bottom: 22px;
    position: absolute;
    display: flex;
    --border-radius: 90%;
    margin: 0;

}


.chat-button-send ion-icon {
    position: absolute;
}

