.chat-input-message {
    font-size: 14px;
    outline: none;
    background-color: #e0dede;
    width: 70%;
    min-height: 30px;
    max-height: 120px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    margin-top: 2px;
    left: 60px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.chat-input-message:focus {
    outline: none;
    box-shadow: none;
}


