/* Animations for reply message */
.reply-message-animate {
  animation: slideUp 0.3s ease forwards;
  transform-origin: bottom;
  overflow: hidden;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
    max-height: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    max-height: 100px;
  }
}

.reply-message-exit {
  animation: slideDownExit 0.3s ease forwards;
}

@keyframes slideDownExit {
  0% {
    transform: translateY(0);
    opacity: 1;
    max-height: 100px;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
    max-height: 0;
  }
}