<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYSg8fjJLUPT3Y9wRGz9Ly2_RO9QLwAtA</string>
	<key>GCM_SENDER_ID</key>
	<string>614660503117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.costantini.abra</string>
	<key>PROJECT_ID</key>
	<string>abra-bdbad</string>
	<key>STORAGE_BUCKET</key>
	<string>abra-bdbad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614660503117:ios:6c9db1ce5fec44093f8e04</string>
</dict>
</plist>